* {
    box-sizing: border-box;
}

:root {
  --maincolor: slateblue;
  --textcolor: aliceblue;
  --behind: rgb(62, 62, 62);
  --front: rgb(104, 141, 200);
}

body {
   display: flexbox;
}

header {

}

h1 {
 
}

nav {

}

nav ul {

}

main {
 

}

.bio {
;
}

.bio h2 {
   
    
}

.bio p {
    
}

.business {
   
}

.business h2 {

}

.personal {

}

footer {
  
}

footer ul

h3 {
    
}

footer ul {
    
}

@media screen {
    
}


