* {
    box-sizing: border-box;
}

:root {
  --maincolor: slateblue;
  --textcolor: aliceblue;
  --dark: rgb(62, 62, 62);
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 1px;
    background-color: var(--maincolor);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--textcolor);
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    border-style: ridge;
    border-width: 1px;
    border-color: black;
    padding: 3px;
    width: 50%;
    float: right;
    position: relative;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
}

main {
    display: block;
    background-color: var(--textcolor);
    padding-top: 5px;

}

.bio {
    flex: 1 0 0;
    text-align: center;
    margin: 5px;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    background-color: var(--maincolor);
    float: left;
    position: relative;
}

.bio h2 {
    color: var(--dark);
    text-decoration: underline;
}

.bio p {
    color: var(--textcolor);
}

.business {

}

.personal {

}

footer {
    display: inline-flex;
    flex-direction: column;
    float: inline-end;
    position: relative;
}

h3 {
    color: var(--textcolor);
}

footer ul {
    
}


