* {
    box-sizing: border-box;
}

:root {
  --maincolor: slateblue;
  --textcolor: aliceblue;
  --behind: rgb(62, 62, 62);
  --front: rgb(104, 141, 200);
}

body {
    display: grid;
    margin: 0px;
    border-style: double;
    border-width: 2px;
    border-color: black;
}

header {
    display: block;
    padding: 50px;
    align-items: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    background-color: var(--front);
    color: var(--textcolor);
    background: linear-gradient(30deg, #3f87a6, #ebf8e1, #241d8a);
}

h1 {
    display: inline-flex;
    text-decoration: underline;
    font-size: 200%;
}

.romeo {
    display: inline;
}

nav {
    display: block;
}

nav, ul {
    display: list-item;
    list-style: none;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

footer {
    display: inline;
    position: relative;
    background-color: var(--front);
    background: linear-gradient(30deg, #3f87a6, #ebf8e1, #241d8a);
}

footer, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h3 {
    display: block;
    text-decoration: underline;
    margin: 5px;
    color: var(--textcolor); 
}

@media screen and (min-width: 1200px){
    .bio .project {
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .bio .project {
        max-width: 100%;
    }
}

@media screen and (min-width: 768x) {
    .bio .project {
        max-width: 100%;
    }
}